In [1]:
# This step is optional if you environment is not trusted by your Python host machine
import os
os.environ['CAS_CLIENT_SSL_CA_LIST'] = 'C:/Users/gerdaw/Documents/SANDBOX/trustedcerts.pem'

In [2]:
import swat

c:\Users\gerdaw\.conda\envs\Airflow\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.16) or chardet (5.1.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [3]:
# Ensuring that you have the minimum version of SWAT to have access to the two new functions
if swat.__version__ >= '1.13.2':
    print('Perfect you are all set to go ahead with this example')
else:
    print('Please use pip install swat --upgrade to update the SWAT version')

Perfect you are all set to go ahead with this example

In [4]:
# Get information to authenticate with SAS Viya
VIYAHOST = input('Enter your SAS Viya Host URL: ')
AUTHCODE = input(f'Open the following [link]({VIYAHOST}/SASLogon/oauth/authorize?client_id=SWAT&response_type=code) and copy the Authcode: ')

In [5]:
# Connect to SAS Viya via the HTTPS method not binary
conn = swat.CAS(f'{VIYAHOST}/cas-shared-default-http', 443, authcode=AUTHCODE)
conn.serverstatus().get_tables('nodestatus')[0]

NOTE: Grid node action status report: 5 nodes, 9 total actions executed.

Node Status

                                                name        role  uptime  running  stalled
0  worker-3.sas-cas-server-default.sasviya4.svc.c...      worker   3.207        0        0
1  worker-1.sas-cas-server-default.sasviya4.svc.c...      worker   3.206        0        0
2  worker-2.sas-cas-server-default.sasviya4.svc.c...      worker   3.206        0        0
3  worker-0.sas-cas-server-default.sasviya4.svc.c...      worker   3.206        0        0
4  controller.sas-cas-server-default.sasviya4.svc...  controller   3.241        0        0

In [6]:
# Upload HMEQ to CAS
conn.upload('https://raw.githubusercontent.com/sassoftware/model-management-resources/main/samples/Data/hmeq.csv')
hmeq = conn.CASTable('hmeq', caslib='casuser')

NOTE: Cloud Analytic Services made the uploaded file available as table HMEQ in caslib CASUSER(gerdaw).
NOTE: The table HMEQ has been created in caslib CASUSER(gerdaw) from binary data uploaded to Cloud Analytic Services.

In [7]:
# Display the first five rows
hmeq.head()

Selected Rows from Table HMEQ

   BAD    LOAN  MORTDUE     VALUE   REASON     JOB   YOJ  DEROG  DELINQ       CLAGE  NINQ  CLNO  DEBTINC
0  1.0  1100.0  25860.0   39025.0  HomeImp   Other  10.5    0.0     0.0   94.366667   1.0   9.0      NaN
1  1.0  1300.0  70053.0   68400.0  HomeImp   Other   7.0    0.0     2.0  121.833333   0.0  14.0      NaN
2  1.0  1500.0  13500.0   16700.0  HomeImp   Other   4.0    0.0     0.0  149.466667   1.0  10.0      NaN
3  1.0  1500.0      NaN       NaN                    NaN    NaN     NaN         NaN   NaN   NaN      NaN
4  0.0  1700.0  97800.0  112000.0  HomeImp  Office   3.0    0.0     0.0   93.333333   0.0  14.0      NaN

## New CASTable method rename

The new method _rename_ for CASTable objects provides the ability to rename columns.

In [14]:
hmeq.rename({'BAD': 'Defaulting'})
print(hmeq.columninfo())

[ColumnInfo]

         Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0   Defaulting         1   double          8               12           0    0
 1         LOAN         2   double          8               12           0    0
 2      MORTDUE         3   double          8               12           0    0
 3        VALUE         4   double          8               12           0    0
 4       REASON         5  varchar          7                7           0    0
 5          JOB         6  varchar          7                7           0    0
 6          YOJ         7   double          8               12           0    0
 7        DEROG         8   double          8               12           0    0
 8       DELINQ         9   double          8               12           0    0
 9        CLAGE        10   double          8               12           0    0
 10        NINQ        11   double          8               12           0    0
 11        CLNO        12   double          8               12           0    0
 12     DEBTINC        13   double          8               12           0    0

+ Elapsed: 0.0123s, user: 0.0114s, sys: 0.00582s, mem: 2.52mb

## Extended biomedical image file type support

When loading images to CAS via the _image.loadImages_ method the type of file extensions supported as been enhanced

In [15]:
print('Previous file types:')
print(['bmp', 'dib', 'jpg', 'jpeg', 'jpe', 'jp2', 'png', 'pbm', 'pmg', 'ppm', 'tif', 'tiff', 'webp'])
print('New list:')
print(['bmp', 'dib', 'jpg', 'jpeg', 'jpe', 'jp2', 'png', 'pbm', 'pmg', 'ppm', 'tif', 'tiff', 'webp', 'hdr', 'pic', 'dcm', 'dicom', 'nrrd', 'nhdr', 'raw', 'nii', 'img', 'hdr', 'mha', 'mhd', 'saswimg', 'sastimg'])

Previous file types:
['bmp', 'dib', 'jpg', 'jpeg', 'jpe', 'jp2', 'png', 'pbm', 'pmg', 'ppm', 'tif', 'tiff', 'webp']
New list:
['bmp', 'dib', 'jpg', 'jpeg', 'jpe', 'jp2', 'png', 'pbm', 'pmg', 'ppm', 'tif', 'tiff', 'webp', 'hdr', 'pic', 'dcm', 'dicom', 'nrrd', 'nhdr', 'raw', 'nii', 'img', 'hdr', 'mha', 'mhd', 'saswimg', 'sastimg']